.text-primary {
    margin: 0 15px;
    padding-top: 3px;
    min-width: 100px;
}

.row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn {
    cursor: pointer;
}

.chart {
    width:100%;
}

angular2-multiselect {
    min-width: 300px !important;
    max-width:600px !important;
}

.selected-list .c-list {
    margin-right: 30px !important;
}