<div class='page-container'>
  <div class="grid">
    <div class="row">
      <div (click)="dateStartOpen != dateStartOpen" class="date-range-picker-start">
        <div *ngIf="dateStartOpen" class="date-range-picker-date date-range-picker-from" style="display:inline-block; min-height:290px;">
          <datepicker [(ngModel)]="date1" [maxDate]='today' [showWeeks]="false" (click)='getDateStart()'></datepicker>
        </div>
        </div>
      <div (click)="dateEndOpen != dateEndOpen" class="date-range-picker-end">
        <div *ngIf="dateEndOpen" class="date-range-picker-date date-range-picker-to" style="display:inline-block; min-height:290px;">
          <datepicker [(ngModel)]="date2" [minDate]="date1" [showWeeks]="false" [maxDate]='today' (click)='getDateEnd()'></datepicker>
        </div>
      </div>
    </div>
    <div class="row">
      <span class="text-primary small pagination">Select Range</span>
      <div class="select-range btn-group" >
        <div class="btn btn-info btn-sm">Last 365 Days</div>
        <div class="btn btn-info btn-sm">Last 90 Days</div>
        <div class="btn btn-info btn-sm">Last 30 Days</div>
        <div class="btn btn-info btn-sm">Last 14 Days</div>
        <div class="btn btn-info btn-sm">Last 7 Days</div>
        <div class="btn btn-info btn-sm">Last year</div>
        <div class="btn btn-info btn-sm">Last month</div>
        <div class="btn btn-info btn-sm">Last week</div>
        <div class="btn btn-info btn-sm">This year</div>
        <div class="btn btn-info btn-sm">This month</div>
        <div class="btn btn-info btn-sm">This week</div>
      </div>
    </div>
    <div class="row">
      <span class="text-primary small pagination">Apps</span>
      <div class="select-range">
        <div class="btn btn-info btn-active btn-sm">All</div>
        <angular2-multiselect [data]="appsList" [(ngModel)]="appsSelected" [settings]="appsDropdownSettings"></angular2-multiselect>
        <angular2-multiselect [data]="tgList" [(ngModel)]="tgSelected" [settings]="tgDropdownSettings"></angular2-multiselect>
        <!--<dropdown-multiselect [(ngModel)]="dropdownModel"></dropdown-multiselect>-->
        <!--<ss-multiselect-dropdown [options]="appsOptions" [(ngModel)]="apps" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>-->
        <!--<select>-->
          <!--<option>All</option>
          <option>None</option>
          <option>Tiny Gladiators</option>
        </select>-->
      </div>
    </div>
    <div class="row">
      <span class="text-primary small pagination">Regions</span>
      <div class="select-range btn-group">
        <div class="btn btn-info btn-active btn-sm">All</div>
        <div class="btn btn-info btn-sm">Africa</div>
        <div class="btn btn-info btn-sm">Americas</div>
        <div class="btn btn-info btn-sm">Asia</div>
        <div class="btn btn-info btn-sm">Europe</div>
        <div class="btn btn-info btn-sm">Oceania</div>
        <div class="btn btn-info btn-sm">Unknown</div>
      </div>
    </div>
    <div class="row">
      <span class="text-primary small pagination">Platform</span>
      <div class="select-range btn-group">
        <div class="btn btn-info btn-active btn-sm">All</div>
        <div class="btn btn-info btn-sm">iOS</div>
        <div class="btn btn-info btn-sm">Android</div>
      </div>
    </div>
    <div class="row">
      <span class="text-primary small pagination">Provider</span>
      <div class="select-range btn-group">
        <div class="btn btn-info btn-active btn-sm">All</div>
        <div class="btn btn-info btn-sm">AdColony</div>
        <div class="btn btn-info btn-sm">Admob</div>
        <div class="btn btn-info btn-sm">AppFigures</div>
        <div class="btn btn-info btn-sm">AppLovin</div>
        <div class="btn btn-info btn-sm">chartboost</div>
        <div class="btn btn-info btn-sm">facebook</div>
        <div class="btn btn-info btn-sm">Flurry</div>
        <div class="btn btn-info btn-sm">inMobi</div>
        <div class="btn btn-info btn-sm">ironsource</div>
        <div class="btn btn-info btn-sm">ONE by AOL</div>
        <div class="btn btn-info btn-sm">RevMob</div>
        <div class="btn btn-info btn-sm">Tapjoy</div>
        <div class="btn btn-info btn-sm">UnityAds</div>
        <div class="btn btn-info btn-sm">iTunes</div>
        <div class="btn btn-info btn-sm">Google Play</div>
      </div>
    </div>
    <div class="row">
      <span class="text-primary small pagination">Ad Type</span>
      <div class="select-range btn-group">
        <div class="btn btn-info btn-active btn-sm">All</div>
        <div class="btn btn-info btn-sm">Banner</div>
        <div class="btn btn-info btn-sm">Video</div>
        <div class="btn btn-info btn-sm">Intersticial</div>
        <div class="btn btn-info btn-sm">Unknown</div>
      </div>
    </div>
    <div class="row">
      <span class="text-primary small pagination">Distinct Details</span>
      <div class="select-range btn-group">
        <div class="btn btn-info btn-active btn-sm">Application</div>
        <div class="btn btn-info btn-sm">Country</div>
        <div class="btn btn-info btn-sm">Provider</div>
        <div class="btn btn-info btn-sm">Platform</div>
        <div class="btn btn-info btn-sm">Account</div>
        <div class="btn btn-info btn-sm">Ad Type</div>
      </div>
    </div>
    <div class="row">
      <!--<table *ngIf='salesData' style="width:100%">
        <tr>
          <th>App Name</th>
          <th>Downloads</th> 
          <th>Rating</th>
          <th>Payout</th>
        </tr>
        <tr *ngFor="let item of salesData">
          <td>{{item.name || ''}}</td>
          <td><i>{{item.downloads || 0}}</i></td>
          <td><i>{{item.rating || 0}}</i></td>
          <td><i>{{item.payout || 0 | currency:'USD':true:'1.2-2'}}</i></td>
        </tr>
      </table>-->
    </div>
    <div class="row">
      <h3>Analitycs</h3>
      <div class="analytics-chart chart">
        <canvas baseChart height="400"
                  [datasets]="analyticsChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [chartType]="lineChartType"></canvas>
      </div>
      <h3>Revenue Statistics</h3>
      <div class="revenue-chart chart">
        <canvas baseChart height="400"
                  [datasets]="revenueChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>
</div>