<div class="header">
  <!--<div (click)="logout()" class="logout">
      <span><i class="fa fa-sign-out" aria-hidden="true"></i></span>
  </div>-->
    <h3>Sales Figure 0.0.1-dev</h3>
</div>
<div class="nav">
      <ul>
        <li (click)="menuDash = true;menuRevenue = false;menuRatings = false;menuSettings = false" [ngClass]="{active: menuDash}" [routerLink]="['/dashboard']">
          <i class="fa fa-home" aria-hidden="true"></i>
          <span>Dashboard</span>
        </li>
        <li (click)="menuDash = false;menuRevenue = true;menuRatings = false;menuSettings = false" [ngClass]="{active: menuRevenue}" [routerLink]="['/revenue']">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
          <span>Revenue</span>
        </li>
        <li (click)="menuDash = false;menuRevenue = false;menuRatings = true;menuSettings = false" [ngClass]="{active: menuRatings}" [routerLink]="['/ratings']">
          <i class="fa fa-star" aria-hidden="true"></i>
          <span>Ratings</span>
        </li>
        <li (click)="menuDash = false;menuRevenue = false;menuRatings = false;menuSettings = true" [ngClass]="{active: menuSettings}" [routerLink]="['/settings']">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <span>Settings</span>
        </li>
        <!--<li (click)="logout()">
          <span>Logout</span>
        </li>-->
      </ul>
</div>
