.header {
    width:100%;
    position: fixed;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.85);
    z-index:9;
}

h3 {
    color: #d5d6dc;
    margin-top: 10px;
    margin-left: 10px;
}

.nav {
    position: fixed;
    top: 60px;
    width: 300px;
    background: rgba(0, 0, 0, 0.85);
    height: calc(100% - 60px);
    left: 0;
    z-index: 9;
    &.open {
        left: 0;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 300px;
        li {
            display: block;
            padding: 10px 0;
            width: 100%;
            cursor: pointer;
            transition: 0.5s ease-out;
            -webkit-transition: 0.5s ease-out;
            -moz-transition: 0.5s ease-out;
            -o-transition: 0.5s ease-out;
            -ms-transition: 0.5s ease-out;
            &:hover {
                background-color: #2a2e3c;
                span {
                    color: #fff;
                    margin-left: 15px;
                }
            }
            &.active {
                background-color: #2a2e3c;
                span {
                    color: #fff;
                }
            }
            i {
                width: 30px;
                display: inline-block;
                margin: 5px 15px;
                color: #eee;
            }
            span {
                 transition: 0.5s ease-out;
                -webkit-transition: 0.5s ease-out;
                -moz-transition: 0.5s ease-out;
                -o-transition: 0.5s ease-out;
                -ms-transition: 0.5s ease-out;
                color: #939BB4;
                text-align: left;
                position: relative;
            }
        }
    }
    
    
}