.sign-in-content {
    text-align: center;
    position: relative;
    height: 30%;
    width: 30%;
    left: 35%;
    margin-top: 25%;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    h3 {
        margin-bottom: 30px;
    }
    button {
        margin-top: 50px;
    }
    .input {
        margin: 10px 0;
    }
}
