<div class="container">
  <!--<div class="main_background"></div>-->
  <div class="sign-in">
    <!--<a [routerLink]="['/signin']">
      <img class="logo" src="../../assets/images/logo_bg_red_text.png">
    </a>-->
    <div class="sign-in-content">

    <h3>Sign in</h3>
    <div (click)="emailError = false" [ngClass]="{error: emailError}" class="input">
      <div class="input_icon">
        <!--<img class="icon" src="../../assets/images/envelope_icon.png">-->
      </div>
      <input #email type="text" placeholder="E-mail address"/>
    </div>
    <span class="error" *ngIf="emailError">Can't be empty</span>

    <div (click)="passwordError = false" [ngClass]="{error: passwordError}" class="input">
      <div class="input_icon">
        <!--<img class="icon" src="../../assets/images/lock_icon.png">-->
      </div>
      <input #password type="password" placeholder="Password"/>
    </div>
    <span class="error" *ngIf="passwordError">Can't be empty</span>

    <button (click)="signIn(email.value, password.value)" class="btn btn-primary">Sign in</button>
    <br>

    </div>
  </div>
</div>