/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
}

.page-container {
  margin-left: 300px;
  padding-right: 20px;
  background-color: rgba(147, 155, 180, 0.27);
  padding-top: 70px;
  padding-left: 15px;
  min-height: 1500px;
}